/*! CSS Used from: https://nikebless.github.io/tgnews/resources/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
header,main,nav{display:block;}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;}
h5{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
small{font-size:80%;}
a{color:#007bff;text-decoration:none;background-color:transparent;}
a:hover{color:#0056b3;text-decoration:underline;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
h5{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h5{font-size:1.25rem;}
small{font-size:80%;font-weight:400;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.no-gutters{margin-right:0;margin-left:0;}
.no-gutters>.col{padding-right:0;padding-left:0;}
.col{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;}
.row-cols-1>*{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
@media (min-width:992px){
.row-cols-lg-2>*{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
}
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.btn-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d;}
.btn-secondary:hover{color:#fff;background-color:#5a6268;border-color:#545b62;}
.btn-secondary:focus{color:#fff;background-color:#5a6268;border-color:#545b62;box-shadow:0 0 0 .2rem rgba(130,138,145,.5);}
.btn-secondary:disabled{color:#fff;background-color:#6c757d;border-color:#6c757d;}
.btn-outline-secondary{color:#6c757d;border-color:#6c757d;}
.btn-outline-secondary:hover{color:#fff;background-color:#6c757d;border-color:#6c757d;}
.btn-outline-secondary:focus{box-shadow:0 0 0 .2rem rgba(108,117,125,.5);}
.btn-outline-secondary:disabled{color:#6c757d;background-color:transparent;}
.btn-group-sm>.btn{padding:.25rem .5rem;font-size:.875rem;line-height:1.5;border-radius:.2rem;}
.collapse:not(.show){display:none;}
.btn-group{position:relative;display:-ms-inline-flexbox;display:inline-flex;vertical-align:middle;}
.btn-group>.btn{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;}
.btn-group>.btn:hover{z-index:1;}
.btn-group>.btn:active,.btn-group>.btn:focus{z-index:1;}
.btn-group>.btn:not(:first-child){margin-left:-1px;}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0;}
.btn-group>.btn:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:block;padding:.5rem 1rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.nav-tabs{border-bottom:1px solid #dee2e6;}
.nav-tabs .nav-item{margin-bottom:-1px;}
.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6;}
.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff;}
.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;}
.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat center center;background-size:100% 100%;}
@media (min-width:992px){
.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.navbar-light .navbar-brand{color:rgba(0,0,0,.9);}
.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{color:rgba(0,0,0,.9);}
.navbar-light .navbar-toggler{color:rgba(0,0,0,.5);border-color:rgba(0,0,0,.1);}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:1.25rem;}
.card-title{margin-bottom:.75rem;}
.card-text:last-child{margin-bottom:0;}
.list-group{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;}
.list-group-item{position:relative;display:block;padding:.75rem 1.25rem;background-color:#fff;border:1px solid rgba(0,0,0,.125);}
.list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;}
.list-group-item:disabled{color:#6c757d;pointer-events:none;background-color:#fff;}
.list-group-item+.list-group-item{border-top-width:0;}
.list-group-flush .list-group-item{border-right-width:0;border-left-width:0;border-radius:0;}
.list-group-flush .list-group-item:first-child{border-top-width:0;}
.list-group-flush:last-child .list-group-item:last-child{border-bottom-width:0;}
.align-text-top{vertical-align:text-top!important;}
.bg-light{background-color:#f8f9fa!important;}
.border-top{border-top:1px solid #dee2e6!important;}
.rounded-top{border-top-left-radius:.25rem!important;border-top-right-radius:.25rem!important;}
.rounded-circle{border-radius:50%!important;}
.d-none{display:none!important;}
.d-flex{display:-ms-flexbox!important;display:flex!important;}
@media (min-width:576px){
.d-sm-inline-block{display:inline-block!important;}
}
@media (min-width:768px){
.d-md-inline{display:inline!important;}
}
.flex-column{-ms-flex-direction:column!important;flex-direction:column!important;}
.flex-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
.flex-fill{-ms-flex:1 1 auto!important;flex:1 1 auto!important;}
.flex-shrink-0{-ms-flex-negative:0!important;flex-shrink:0!important;}
.justify-content-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
.overflow-hidden{overflow:hidden!important;}
.position-relative{position:relative!important;}
.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030;}
.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;}
.w-100{width:100%!important;}
.h-100{height:100%!important;}
.stretched-link::after{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;pointer-events:auto;content:"";background-color:rgba(0,0,0,0);}
.mt-1{margin-top:.25rem!important;}
.mr-1,.mx-1{margin-right:.25rem!important;}
.mb-1{margin-bottom:.25rem!important;}
.ml-1,.mx-1{margin-left:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mx-2{margin-right:.5rem!important;}
.mx-2{margin-left:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mr-3{margin-right:1rem!important;}
.mb-3{margin-bottom:1rem!important;}
.ml-3{margin-left:1rem!important;}
.mb-4{margin-bottom:1.5rem!important;}
.py-0{padding-top:0!important;}
.px-0{padding-right:0!important;}
.py-0{padding-bottom:0!important;}
.px-0{padding-left:0!important;}
.pb-1{padding-bottom:.25rem!important;}
.pt-2{padding-top:.5rem!important;}
.py-5{padding-top:3rem!important;}
.py-5{padding-bottom:3rem!important;}
@media (min-width:576px){
.mx-sm-3{margin-right:1rem!important;}
.mx-sm-3{margin-left:1rem!important;}
.px-sm-3{padding-right:1rem!important;}
.px-sm-3{padding-left:1rem!important;}
}
@media (min-width:768px){
.mx-md-4{margin-right:1.5rem!important;}
.mx-md-4{margin-left:1.5rem!important;}
}
.text-muted{color:#6c757d!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
p{orphans:3;widows:3;}
body{min-width:992px!important;}
.container{min-width:992px!important;}
.navbar{display:none;}
}
/*! CSS Used from: https://nikebless.github.io/tgnews/resources/contest-zoo.css */
.animal-photo{display:inline-block;width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:70%;}
.bc7{background-color:#f2749a;}
.tc7{color:#e5638a;}
.dragon{background-image:url('data:image/svg+xml,%3Csvg enable-background="new 0 0 320 320" viewBox="0 0 320 320" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m97.88 187.495c-2.479-3.894-5.519-7.002-8.787-9.933-7.258-6.508-15.351-11.954-24.056-16.554-3.119-1.648-6.575-2.724-9.877-4.063-.409-.166-.816-.337-1.245-.514 1.807-1.695 6.183-3.238 15.124-5.327 5.409-1.264 10.9-1.588 16.463-1.442 5.484.144 10.776 1.264 16.119 2.55-.137-1.101-.902-1.544-1.602-2.059-3.371-2.482-7.032-4.503-10.805-6.393-7.406-3.711-14.781-7.484-22.064-11.405-3.036-1.634-5.911-3.583-8.662-5.627-2.421-1.799-4.16-4.249-5.883-6.659-3.232-4.521-5.29-9.524-6.395-14.839-.869-4.18-.945-8.418-.339-12.679.711-5.005 2.079-9.849 3.645-14.649.725-2.221 1.632-4.397 2.584-6.543 2.676-6.029 6.263-11.567 10.113-16.987 4.715-6.637 9.742-13.094 13.723-20.176 1.052-1.871 2.109-3.796 2.723-5.816.589-1.942.607-4.039.91-6.324 2.826 3.102 5.738 10.627 6.502 15.686.629 4.166-.151 8.184-.758 12.23-.885 5.907-3.153 11.488-4.771 17.223-1.004 3.558-1.784 7.154-1.769 10.875.014 3.472.944 6.72 2.443 9.846 1.686 3.515 4.529 5.867 8.208 7.483 3.507 1.541 7.214 2.321 10.97 2.953 3.314.557 6.643.738 10.032.563 3.077-.159 6.117-.283 9.304-1.376.045-.491.268-1.131.126-1.688-.742-2.915-.141-5.8.251-8.658.403-2.941 1.232-5.807 2.523-8.553 1.6-3.402 3.772-6.416 6.345-9.208 2.172-2.357 4.672-4.373 7.257-6.291 1.052-.781 2.235-1.431 3.432-2.006 2.991-1.437 9.994-3.999 10.489-4.028.044 1.662-3.842 8.963-4.657 11.526-.704 2.217-1.15 4.539-1.407 6.845-.314 2.81-.378 5.65-.432 8.48-.109 5.734 1.169 11.265 3.173 16.627 1.427 3.818 3.795 7.013 7.691 9.07 4.1 2.164 8.364 1.976 12.196-.622 3.563-2.415 5.704-5.697 6.956-9.593 1.286-4.001 2.425-8.054 2.689-12.226.213-3.382.095-6.803-.178-10.185-.216-2.669-.718-5.345-1.405-7.944-.868-3.287-4.456-11.162-4.456-11.704.577.04 7.834 2.643 10.726 4.268 6.459 3.629 11.502 8.621 15.174 14.776 2.188 3.669 3.247 7.741 3.741 11.936.29 2.466.605 4.919.087 7.397-.111.529.034 1.106.059 1.613 1.98 1.253 4.146 1.508 6.284 1.601 3.145.136 6.328.303 9.446.001 5.813-.563 11.55-1.552 16.72-4.422 3.614-2.007 5.696-5.033 7.181-8.654 2.04-4.975 2.006-9.995.691-15.031-1.235-4.729-2.8-9.38-4.151-14.083-.587-2.044-1.168-4.112-1.457-6.205-.475-3.434-1.044-6.904-.974-10.349.126-6.198 2.624-14.442 6.764-18.328.004 3.383 1.262 8.205 2.957 11.23 3.366 6.008 7.416 11.602 11.506 17.19 4.211 5.755 8.33 11.6 11.471 17.985 2.943 5.981 5.138 12.166 6.535 18.659.674 3.136 1.3 6.25 1.413 9.426.137 3.828-.232 7.623-1.261 11.368-1.315 4.791-3.458 9.19-6.388 13.269-3.354 4.67-7.867 8.089-13.004 10.846-3.645 1.955-7.249 3.98-10.925 5.881-4.267 2.207-8.582 4.332-12.895 6.459-3.519 1.735-6.972 3.561-10.041 5.971-.687.539-1.395 1.055-1.944 1.843 12.922-3.295 25.659-3.487 38.31.508 3.288 1.038 6.794 1.609 9.924 3.658-.534.32-.858.609-1.241.73-6.799 2.153-12.946 5.528-18.927 9.168-2.695 1.64-5.126 3.665-7.715 5.467-3.879 2.699-7.373 5.802-10.607 9.154-1.806 1.872-3.369 3.954-5.022 5.956-.651.788-.311 1.601-.001 2.421.879 2.33 1.828 4.643 2.561 7.014.881 2.851 1.62 5.744 2.32 8.64.455 1.881-.107 2.898-1.872 3.891-4.257 2.393-8.354 4.986-11.977 8.214-2.776 2.474-5.749 4.759-8.418 7.33-2.777 2.676-5.137 5.71-7.312 8.854-4.3 6.215-7.684 12.812-9.137 20.172-.493 2.498-.808 5.032-1.111 7.56-.702 5.862-2.496 11.379-6.059 16.247-2.337 3.193-4.88 6.266-7.523 9.24-2.593 2.917-5.365 5.699-8.187 8.422-1.455 1.405-3.163 2.582-4.807 3.802-.784.582-1.664.579-2.467-.079-2.036-1.668-4.191-3.223-6.092-5.018-5.357-5.059-10.288-10.477-14.452-16.471-3.165-4.557-5.055-9.592-5.783-15.014-.395-2.942-.8-5.884-1.303-8.81-.838-4.872-2.804-9.395-5.199-13.729-2.813-5.089-6.016-9.983-10.279-14.114-3.241-3.14-6.74-6.043-10.15-9.026-3.369-2.947-7.164-5.327-11.145-7.471-1.824-.982-2.42-2.452-1.842-4.593.998-3.696 2.093-7.37 3.241-11.026.595-1.891 1.391-3.724 2.114-5.63zm78.177 21.616c.824-.326 1.233-.473 1.628-.647 1.349-.595 2.694-1.197 4.037-1.802 3.372-1.518 6.813-2.913 10.092-4.592 3.426-1.753 6.021-4.364 7.737-7.729 3.353-6.572 3.682-13.463 2.43-20.507-.164-.924-.758-1.78-1.229-2.837-1.891.726-3.694 1.13-5.156 2.031-5.281 3.252-10.351 6.75-13.297 12.3-1.714 3.229-3.388 6.443-4.047 10.067-.72 3.958-1.648 7.882-2.434 11.831-.097.493.123 1.044.239 1.885zm-56.697-37.703c-1.138 1.801-1.682 3.289-1.779 5.788-.153 3.959-.222 7.918.895 11.806 1.072 3.731 2.547 7.245 5.557 9.992 1.891 1.725 3.995 3.215 6.363 4.284 4.232 1.91 8.52 3.711 12.792 5.543.182.078.433.01.928.01-.04-.827-.016-1.649-.134-2.452-.195-1.325-.518-2.632-.725-3.955-.841-5.393-1.911-10.727-4.635-15.615-1.712-3.072-3.496-6.139-6.392-8.365-2.486-1.91-5.089-3.706-7.778-5.35-1.469-.898-3.126-1.665-5.092-1.686zm30.553 94.478c2.352-6.518-.742-16.17-8.378-20.142-.165.463-.428.887-.45 1.321-.066 1.345-.069 2.695-.039 4.042.026 1.199.044 2.408.214 3.593.443 3.095 1.978 5.723 3.954 8.182 1.234 1.536 2.858 2.37 4.699 3.004zm20.121.02c2.29-.745 3.919-1.996 5.257-3.678 3.827-4.813 4.222-10.256 3.364-15.942-.009-.06-.091-.11-.138-.164-1.84.469-5.356 3.607-6.825 6.338-2.279 4.232-2.549 8.713-1.658 13.446z" fill="%23fcfdfd"/%3E%3C/svg%3E');}
/*! CSS Used from: Embedded */
.brand-photo{display:inline-block;width:40px;height:40px;text-align:center;vertical-align:top;overflow:hidden;}
.brand-name{font-size:18px;line-height:16px;font-weight:500;vertical-align:top;margin:.125rem .25rem 0 1rem!important;}
.brand-name small{display:inline-block;font-size:13px;font-weight:400;margin-top:.25rem;}
.text-truncate-4{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-truncate-4{-webkit-line-clamp:4;}
.thread:not(:last-child){flex-grow:1;max-width:100%;}